<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container-fluid">
{% block body_block%}
<div class="bg-light">
<h1 class="mt-4">Where Quality & Clarity Movies</h1><br><br>
<p class="w-50">Watch iBOMMA.ONE Telugu movies online in HD quality.
Exclusively designed for smartphones, tablets, PC's.</p><br><br>
<p></p>

<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/toly">
	<img src="{%static 'images/h2.jpg'%}" width="210" height="300" class="d-inline-block align-top ms-4" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h3.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h4.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h5.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
      <img src="{%static 'images/h6.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
  </a>
</nav>
<nav class="navbar navbar-light bg-light row">
  <a class="navbar-brand column" href="https://www.youtube.com/watch?v=bC36d8e3bb0&pp=ygUFa2Fsa2k%3D">
      <img src="{%static 'images/h1.jpg'%}" width="210" height="300" class="d-inline-block align-top ms-4" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h7.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h8.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h9.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
      <img src="{%static 'images/h10.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
  </a>
</nav><br><br>
    <h1>Locking For More Movies ? Our Search box</h1><br>
    <p>Thousend of Movies our database & Still adding</p>
<form class="d-flex" id="test">
      <input class="form-control mr-2 w-25 form-control rounded-2" type="search" placeholder="Search" aria-label="Search">&nbsp;&nbsp;
  <button class="btn btn-outline-warning radius-4" type="submit">Search</button></form><br><br>
    <h4 class="bi bi-wifi bg-light w-25 color-warning">Add-ons(O)</h4><br>
<nav class="navbar navbar-light bg-dark row">
  <a class="navbar-brand column" href="https://www.youtube.com/watch?v=bC36d8e3bb0&pp=ygUFa2Fsa2k%3D">
      <img src="{%static 'images/h3.jpg'%}" width="210" height="300" class="d-inline-block align-top ms-4" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h5.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/h1.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
    <img src="{%static 'images/k.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
      <img src="{%static 'images/h7.jpg'%}" width="210" height="300" class="d-inline-block align-top" alt="">&nbsp;&nbsp;&nbsp;
  </a>
</nav>
{%endblock%}
</div>
</body>
</html>